/* style.css */

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    background-color: #ffffff; 
    color: #000000; 
}



/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 10px;
}

.logo img {
    height: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 25px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.nav-links a:hover {
    color: #ff0000;
}





/* milieu body */

.case1 {
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    color: #000000; 
    margin-bottom: 20px; 
}

.case1 h1 {
    font-size: 48px;
}





/* bouton */

.bouton p {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.bouton p:hover {
    background-color: #ff0000; 
}





/* photo */

#photos-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.photo {
    width: 30%;
}





/* bas */

.footer {
    background-color: #26262C; 
    color: #ffffff; 
    padding: 100px;
    text-align: center;
}